<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>AddCandidate</servlet-name>
    <servlet-class>com.kelia.servlets.addCandidateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Vote</servlet-name>
    <servlet-class>com.kelia.servlets.VoteServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AddCandidate</servlet-name>
    <url-pattern>/addCandidate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Vote</servlet-name>
    <url-pattern>/vote</url-pattern>
  </servlet-mapping>


</web-app>
